body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(arcane.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

.riot {
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

#title {
    margin-top: 0px;
    margin-bottom: 50px;
}

div {
    
    background-color: #fff;
    position: absolute;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    height: 500px;
    width: 400px;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    min-width: 300px;
    max-width: 1000px;
    font: bold;
    background-color: #E8F0FE;
    height:10px;
    padding: 20px;
    margin-top: 15px;
    width: 350px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: medium;
}

input:hover {
    background-color: #5177b83b ;
}

#nome {
    margin-bottom: 10px;
    
}

#senha {
   margin-bottom: 20px;
}

#redes img {
height: 30px;
width: 80px;
margin: 8px;
margin-top: ;
border-radius: 10px;
}

#botao {
height: 70px;
width: 70px;
border-radius: 25px;
border: none;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top:80%;
left:50%;
transform: translate(-50%, -50%);
background-color: #d81b1e;
}

#botao:hover {
background-color: #c21c1e;
cursor: pointer;
}

/*haste da seta*/
#botao::before {
content: '';
height: 2px;
width: 20px;
background-color: #fff;
margin-left: -1px; /*afasta da esquerda pra ajustar a seta*/
position: absolute;
}

/*seta para direita*/
#botao::after{
content: '';
-moz-transform: rotate(315deg);
-ms-transform: rotate(315deg);
-webkit-transform: rotate(315deg);
transform: rotate(315deg);

border-bottom-style: solid;
border-bottom-width: 3px;
border-right-style: solid;
border-right-width: 3px;
height: 12px;
width: 12px;
margin-left: 5px;
border-color: #fff;
}

#texto {
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: bold;
color: #434344;
position: absolute;
top:88%;
left:50%;
transform: translate(-50%, -50%);
}

#texto:hover {
color: black;
}

#conta {
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: bold;
color: #434344;
position: absolute;
top: 93%;
left: 50%;
transform: translate(-50%, -50%);
}

#conta:hover {
color: black;
}
