body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(arcane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.riot {
  height: 50px;
  margin-top: 50px;
}

.img {
  text-align: center;
}

#title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.conteudo {
  background-color: #fff;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  font-size: 15px;
  height: 500px;
  width: 90%;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 85%;
  font: bold;
  background-color: #e8f0fe;
  height: 1em;
  padding: 1.25em;
  margin: .5em;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: medium;
}

input:hover {
  background-color: #032c723b;
}

#nome {
  margin-bottom: 10px;
}

#senha {
  margin-bottom: 20px;
}

#redes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#redes a {
  width: 50%;
  max-height: 47px;
  border: 1px solid #e8f0fe;
  flex: 2;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#redes a img {
  max-height: 47px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#botao {
  height: 70px;
  width: 70px;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d81b1e;
}

#botao:hover {
  background-color: #c21c1e;
  cursor: pointer;
}

/*haste da seta*/
#botao::before {
  content: "";
  height: 2px;
  width: 20px;
  background-color: #fff;
  margin-left: -1px; /*afasta da esquerda pra ajustar a seta*/
  position: absolute;
}

/*seta para direita*/
#botao::after {
  content: "";
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);

  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-right-style: solid;
  border-right-width: 3px;
  height: 12px;
  width: 12px;
  margin-left: 5px;
  border-color: #fff;
}

#texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #434344;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#texto:hover {
  color: black;
}

#conta {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #434344;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#conta:hover {
  color: black;
}

@media (min-width: 300px) {
  .conteudo {
    max-width: 400px;
  }

  .img {
    text-align: left;
  }

}
